<div class="rf-notification rf-notification-info" data-component="article-notification" data-id="hertel">
    <div class="rf-notification-icon">
        <i class="bi bi-file-text"></i>
    </div>
    <div class="rf-notification-content">
        <div class="rf-notification-title">Les retables de Flandre française</div>
        <div class="rf-notification-text">Philippe HERTEL, Anita OGER-LEURENT</div>
        <div class="rf-notification-meta">XVIIe, XVIIIe et XIXe siècles</div>
    </div>
</div>

