<div class="rf-notification rf-notification-success" data-component="actualite-notification" data-id="conference-mars-2026">
    <div class="rf-notification-icon">
        <i class="bi bi-megaphone"></i>
    </div>
    <div class="rf-notification-content">
        <div class="rf-notification-title">Conférence sur les retables flamands</div>
        <div class="rf-notification-text">Philippe HERTEL - Évolution stylistique XVIe-XVIIIe siècle</div>
        <div class="rf-notification-meta">
            <i class="bi bi-calendar me-1"></i>Vendredi 28 Mars 2026 à 18h30
        </div>
    </div>
</div>

